
body {
    font-family: Arial;
    margin:0;

    background-image: url("../assets/images/head-background.png");
    background-size: 100%;
    background-attachment: fixed;

}

img {

}

.header {
    margin-left: auto;
    margin-right: auto;

    width:100%;
    flex: 0 1 auto;
}

.header h2 {
    text-align: center;
    color:white;
    font-family: monospace;
    text-shadow: black 1px 0 3px;
    font-size: 220%;
    min-height: 80px;
    margin-top:auto;
    margin-bottom: auto;

}

.title {
    width:80%;
    min-width: 400px;
    vertical-align: center;
    display: block;
    padding-top: 10px;
    margin: auto;

}

/* .navigator contains the style for page-navigation-bar */
.navigator {
    margin-left: auto;
    margin-right: auto;
    font-size: 120%;

    width: 70%;
    height: 10vw;
    max-height: 20px;

    border-spacing: 10px;
}
.navigator td {
    background-color: rgba(0, 0, 0, 0.6);
    color:white;
    text-align: center;
}

.navigator td:hover {
    background-color: #ffffff;
    color:black;
    cursor: pointer;
}

.mainContent {
    background-color: rgba(50,50,50,1);
    width: 100%;
    min-height: 80vh;
    filter: drop-shadow(-4px -5px rgba(0,0,0,0.3));
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mainContent h1 {
    font-size: 400%;

}

.footer {
    height: 40px;

}

.infoContainer {
    width: 400px;
    height: 400px;
    background-color: rgba(33,33,33,1);
    margin: 20px;
    display: flex;
    flex-direction: column-reverse;

}

.infoContainer div {
    width: 400px;
    height: 80px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    margin: 0;
    font-size: 30px;
    text-align: left;
}

.infoHeader {
    margin:20px
}

