
body {
    font-family: Arial;
    margin:0;

}

img {

}

.header {
    margin-left: auto;
    margin-right: auto;
    width:100%;
    background-image: url("../assets/images/head-background.png");
    background-size: 100%;
}

.header h2 {
    text-align: center;
    color:white;
    font-family: monospace;
    text-shadow: black 1px 0 3px;
    font-size: 220%;

}

.title {
    width:60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 10px;
}

/* .navigator contains the style for page-navigation-bar */
.navigator {
    margin-left: auto;
    margin-right: auto;
    font-size: 120%;

    width: 70%;
    height: 10vw;
    max-height: 20px;

    border-spacing: 10px;
}
.navigator td {
    background-color: rgba(0, 0, 0, 0.6);
    color:white;
    text-align: center;
}

.navigator td:hover {
    background-color: #ffffff;
    color:black;
    cursor: pointer;
}

.mainContent {
    text-align: center;

}

.mainContent h1 {
    font-size: 400%;
    margin-top: 15%;
}